body {
    margin: 0;
    font-family: sans-serif;
    padding-top: 50px;
}

.wrapper {
    position: relative;
    width: 340px;
    height: 510px;
    margin: auto;
    border: solid 4px #e0b0f5;
    border-radius: 8px;
}

.display-wrapper {
    width: 100%;
    height: 35%;
    min-height: 100px;
    background: white;
    position: relative;
    border-bottom: 2px solid #e0b0f5;
}

.display {
    background: white;
    width: 97%;
    height: 50px;
    position: absolute;
    bottom: 0;
    border: white;
    font-size: 35px;
    max-width: 318px;
}

input {
    text-align:right;
    background: #e0b0f5;
    outline: none;
}

.buttons-wrapper {
    width: 90%;
    height: 60%;
    min-height: 200px;
    display: flex;
    position: absolute;
    left: 17px;
}

.numbers-wrapper {
    width: 75%;
    height: 320px;
    background: white;
    padding-top: 6px;
    padding-left: 5px;
}

.math-wrapper {
    width: 25%;
    height: 320px;
    background: white;
    padding-top: 6px ;
    padding-left: 5px;
}

.numbers {
    width: 70px;
    height: 70px;
    font-size: 25px;
    border: white;
    border-radius: 50%;
    background: #e0b0f5;
    margin-bottom: 12px;
    transition: all 0.4s ease-out;
    color: black;
}

.numbers:active {
    background: #fcc2ed;
}

.maths {
    width: 70px;
    height: 70px;
    background:  #c763f2;
    border-radius: 50%;
    font-size: 33px;
    border: white;
    color:black;
    margin-bottom: 12px;
    transition: all 0.4s ease-out;
}

.maths:active {
    background: #e9bbfc;
}

#multiply {
    padding-top: 18px;
}

#equal {
    width: 70px;
    height: 70px;
    background:  white;
    border-radius: 50%;
    font-size: 30px;
    border: white;
    color:black;
    margin-bottom: 12px;
    transition: all 0.4s ease-out;
}

#equal:active {
    background: #fcc2ed;
}

#AC {
    width: 70px;
    height: 70px;
    background:  white;
    border-radius: 50%;
    font-size: 27px;
    border: white;
    color:black;
    margin-bottom: 12px;
    transition: all 0.4s ease-out;
}

#AC:active {
    background: #fcc2ed;
}

@media screen and (max-width: 362px) {
    .wrapper {
        width: 95%;
        max-width: 350px;
        height: 510px;
    }
}

@media screen and (max-width: 322px) {
    body {
        padding-top: 10px;
    }

    .wrapper {
        width: 95%;
        height: 447px;
    }

    .buttons-wrapper {
        left: 10px;
    }

    .numbers-wrapper {
        width: 75%;
        height: 280px;
        padding-left: 15px;
    }

    .numbers {
        width: 60px;
        height: 60px;
    }

    .math-wrapper {
        height: 280px;
        padding-left: 0;
    }

    .maths {
        width: 60px;
        height: 60px;
    }

    #equal {
        width: 60px;
        height: 60px;
        font-size: 30px;
    }

    #AC {
        width: 60px;
        height: 60px;
        font-size: 27px;
    }

}

@media screen and (max-width: 282px) {
    .wrapper {
        height: 390px;
    }

    .numbers-wrapper {
        width: 75%;
        height: 240px;
    }

    .numbers {
        width: 50px;
        height: 50px;
    }

    .math-wrapper {
        height: 240px;
    }

    .maths {
        width: 50px;
        height: 50px;
    }

    #equal {
        width: 50px;
        height: 50px;
    }

    #AC {
        width: 50px;
        height: 50px;
        font-size: 25px;
    }
}




